
@font-face {
    font-family: def;
    src: url('/font/micross.ttf');
    font-weight: 300;
}

@font-face {
    font-family: scr;
    src: url('/font/Gabriola.ttf');
    font-weight: 300;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: def;
}
.bt {
    float: left;
    padding: 20px;
    width: max-content;
    height: max-content;
    cursor: pointer;

}
.head {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 20px black;
    background-color: crimson;

}

.page-web {
    width: calc(100% - 40px);
    min-height: calc(100% - 190px);
    height: max-content;
    padding: 20px;
}

.pie {
    width: 100%;
    height: 75px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.l {float: left;}
.r {float: right;}

.medio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.grid {
    display: grid;
}

.des-box {
    display: inline-block;
    max-width: 606px;
    width: 100%;
    height: max-content;
}


.des-a {
    display: flex;
    float: left;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
    height: 150px;
    border: solid #333 1px;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
}

.des-a:hover {
    transform: scale(1.1);
}

.des-b {
    width: 402px;
    height: 302px;
}

.des-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 25px;
    width: 100%;
    height: 50px;
}

@media (orientation:portrait) {
    .land {display: none;}

    .des-a, .des-b {
        width: 100%;
        height: 150px;
    }
    
}
@media (orientation:landscape) {
    .port {display: none;}
    
}
